In [6]:
print ((4 + 2) * 3)

18

In [8]:
print(4<5)
print(12 % 2 == 1)
print(2<6)

True
False
True

In [40]:
days_in_50_years = 365 * 50 + (50/4) 
days_in_50_years=int(days_in_50_years)
days_in_50_years= str(days_in_50_years)
print("How many days are in 50 years?"+" "+ days_in_50_years)

How many days are in 50 years? 18262

In [12]:
int_var = 12
float_var = 0.02
str_var = "Hello World"
print(type(int_var))
print(type(float_var))
print(type(str_var))

<class 'int'>
<class 'float'>
<class 'str'>

In [1]:
time_str = "Time"
after_str = "After"
print(time_str, after_str,time_str)

Time After Time

In [17]:
str1 = "I'm a great string"
str2 = "I'm a better string"
print(len(str1)+len(str2))

37

In [31]:
str_with_o = "I am a string and somewhere in here is the character u are seeking"
idx_of_o = str_with_o.find("o")
print(idx_of_o)

8

In [7]:
str_with_o = "I am a string and somewhere in here is the character u are seeking"
idx_of_o = str_with_o.find("o")
idx_of_k = str_with_o.find("k")
print(str_with_o[idx_of_o:idx_of_k])

omewhere in here is the character u are see

In [2]:
my_example_string = "The quick brown fox jumps over the lazy dog"
print("The first character is", my_example_string[0],"and the twenty-first character is",my_example_string[20])

The first character is T and the twenty-first character is j

In [6]:
long_str = "Just when you think you found the answer, you find all meaning is lost"
y_idx = long_str.find("y")
f_idx = long_str.find("f")
m_idx = long_str.find("m")
print(y_idx, f_idx, m_idx)

10 24 55

In [7]:
you_str = long_str[y_idx:y_idx+3]
found_str = long_str[f_idx:f_idx+5]
me_str = long_str[m_idx:m_idx+2]
print(you_str,found_str,me_str)

you found me